name: Docker

on:
  workflow_call:

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: flavioamanciodevops
          password: ${{ secrets.PASSWORD_DOCKER_HUB }}

      - name: Build Docker Image
        run: docker build -t flavioamancio/api-go:latest .

      - name: Build and push Docker images
        # You may pin to the exact commit or the version.
        # uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          # Path to the Dockerfile
          file: ./Dockerfile  
          # Push is a shorthand for --output=type=registry
          push: true
          # List of tags
          tags: FlavioAmancio/go_ci:${{github.ref_name}}           