name: Entrega contínua

on:
  workflow_call:

jobs:

  EC2:
     runs-on: ubuntu-latest
     steps:
      - name: Download a Build Artifact
        uses: actions/download-artifact@v3.0.0
        with:
      # Artifact name
          name: programa
      - uses: actions/checkout@v3

      - name: Deploy to Staging server
        uses: easingthemes/ssh-deploy@main
        env:
          # Criar os segredos no github com chave privada, ip da ec2, e usuário da ec2
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: /home/${{ secrets.REMOTE_USER }}
          EXCLUDE: "postgres-data"

      - name: executing remote ssh commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          # Preencher no github com as informações do banco criado na aws
          script: |
            export HOST=${{ secrets.DBHOST }}
            export USER=${{ secrets.DBUSER }}
            export PASSWORD=${{ secrets.DBPASSWORD }}
            export DBNAME=${{ secrets.DBNAME }}
            export DBPORT=${{ secrets.DBPORT }}
            export PORT=8000
            chmod +x main
            nohup ./main > nohup.out 2> nohup.err < /dev/null &        