name: Go

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      DB_HOST: localhost
      DB_PORT: 5432
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: root

    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: '1.18'

    - name: Build DB
      run: docker compose build

    - name: Start DB
      run: docker compose up -d

    - name: Wait for Postgres
      run: |
        for i in {1..15}; do
          nc -z localhost 5432 && echo "Postgres is up!" && exit 0
          echo "Waiting for Postgres..."
          sleep 2
        done
        echo "Postgres did not start in time" && exit 1

    - name: Test
      run: go test ./... -v